<html>

<head>
    <title>Curso de Férias</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <a href="{% url 'produtos_add' %}">Adicionar</a>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nome
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Valor
                    </th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
              {% for produto in produtos %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{produto.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{produto.price}}
                    </td>
                    <td>null</td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
